name: Build & Deploy wasm Example
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: jetli/wasm-pack-action@v0.3.0
        with:
          # Optional version of wasm-pack to install(eg. 'v0.9.1', 'latest')
          version: "latest"

      - name: checkout
        uses: actions/checkout@v2.3.1

      - name: build
        run: |
          cd message_parser_wasm
          wasm-pack build --target web
          mkdir public
          mv example.js public/example.js
          mv example.html public/index.html
          mv pkg public/pkg
          rm public/pkg/.gitignore

      - name: deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: message_parser_wasm/public # The folder the action should deploy.
